*:{$PROXY_SERVICE_PORT} {

    proxy {$PATH_ROOT}/api/v1/ {$API_SERVICE_NAME}:{$API_SERVICE_PORT} {
        without {$PATH_ROOT}
        transparent
        header_upstream X-App-Token {~AppSession}
        header_downstream X-App-Token {~AppSession}
    }

    proxy {$PATH_ROOT}/ches/v1/ {$CHES_SERVICE_NAME}:{$CHES_SERVICE_PORT} {
        without {$PATH_ROOT}
        transparent
        header_upstream X-App-Token {~AppSession}
        header_downstream X-App-Token {~AppSession}
    }

    proxy {$PATH_ROOT} {$UI_SERVICE_NAME}:{$UI_SERVICE_PORT} {
        transparent
        header_upstream X-App-Token {~AppSession}
        header_downstream X-App-Token {~AppSession}
    }

    log stdout

    errors stdout
}
